<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
	<title>Agregar Actor</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section class=" gradient-custom">
	<div class="container vh-100 mt-5 mb-5">
		<br>
		<div  th:if="${actorGuardado != null}" class="row d-flex align-items-center justify-content-center">
			<div class="alert alert-success alert-dismissible fade show col-md-3" role="alert" >
				<span  th:text="${actorGuardado}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
    	<div class="row d-flex align-items-center justify-content-center">
        	<div class="col-12 col-md-6 col-lg-6 col-xl-5">
                <div class="card px-3 py-3"  style="border-radius: 1rem;">
                	<form method="POST" th:action="@{/peliculas/saveActorPeli}" th:object="${actor}" enctype="multipart/form-data">
						
                	  	<h5 class="mt-3">Por favor completar el formulario <br> para agregar un actor a la pelicula.</h5>
                	 	
                	 	<select th:field="*{pelicula}">
                	 		<option th:value="${pelicula.idPelicula}" th:text="${pelicula.titulo}">
                	 		
                	 		</option>
                	 	</select>
                	 	
                	 	<div class="form-input">
                	    	<input type="text" class="form-control fs-6" placeholder="Nombre" th:field="*{nombre}" required autofocus="autofocus"/>                 
                	  	</div>
                	  	<div class="form-input">
                	    	<input type="text" class="form-control fs-6" th:field="*{apellido}" placeholder="Apellido" required autofocus="autofocus"/>                   
                	  	</div>
                	  	<div class="form-input">
                	    	<textarea type="text" class="form-control fs-6" th:field="*{descripcion}" placeholder="History" ></textarea>                   
                	  	</div>
                 	  	<div class="form-input">
                	    	<input type="date" class="form-control fs-6" th:field="*{fechaNacimiento}" required autofocus="autofocus"/>                   
                	  	</div>
                	  	<div class="form-input">
                	    	<input type="file" class="form-control fs-6" name="file"  required autofocus="autofocus">                   
                	  	</div>
                	  	<div class="row d-flex align-items-center justify-content-center">
                	  		<div class="col-md-4"> 
                	  			<button type="submit" class="btn btn-primary mt-4 signup">Save Actor</button>
                	  		</div>
         				</div>
                	</form>                 
           		</div>            
        	</div>           
		</div>           
	</div>
	<footer th:replace="layout/plantilla :: footer" ></footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>