<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
	<title>Home</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header" ></header>
	<section class="vh-100 gradient-custom">
	<br><br><br><br>
		<div class="container py-5 ">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
 				<div class="carousel-inner">
					<div class="carousel-item active" th:each="photo, iterStat : ${peliculasCarousel}" th:class="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
				    	<div class="w-100 d-block carousel-photo">
				    		<img th:src="@{'/imgs/'+${photo.portada}}" class="d-block w-100 img-fluid">
				    	</div>
				      	<div class="carousel-caption d-none d-md-block ">
				       		<h5 th:text="${photo.titulo}"></h5>
				        	<p th:text="${photo.sinapsis}"></p>
				      	</div>
				    </div>
				</div>
					<button class="carousel-control-prev bg-dark bg-opacity-50" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
				    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    	<span class="visually-hidden">Previous</span>
				  	</button>
				  	<button class="carousel-control-next bg-dark bg-opacity-50" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
				    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
				    	<span class="visually-hidden">Next</span>
				  	</button>
			</div>
		</div>
</section> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>